arrow {margin: 0px 5px}
window>box>image {margin: 15px 10px 0px 5px}
box>box>label {margin: 1px 0px 0px 0px}
switch {margin: 5px 20px 0px 20px}
box>grid>switch>slider {min-height: 0px; min-width: 22px}
scale>contents>trough>slider {min-height: 24px; min-width: 24px}
box>box>grid>label {margin: 0px 10px 0px 0px}
separator {margin: 0px 0px 0px 0px; background-size:0px}
window>box>box>box>image {margin: 5px 5px 0px 10px}
check {min-height: 24px; min-width: 24px}
box>grid>entry {margin: 0px 10px 0px 0px}
checkbutton {margin: 0px 10px 0px 0px}
buttonbox {margin: 10px 0px 0px 0px}
window>box>grid>label {margin: 0px 0px 0px 10px}
