/*Глобальные правила*/
arrow {
    margin: 3px 5px
}

/*выравнивание стрелок комбобоксов*/
separator {
    margin: 0px 0px 0px 0px;
    background-size: 0px;
    padding-bottom: 0px
}

/*скрываем сепаратор*/
check {
    min-height: 24px;
    min-width: 24px
}

/*увеличиваем чекбоксы*/
cellview, entry {
    min-height: 26px
}

/*высота комбобоксов, т.к. некоторые темы их делают меньше и вёрстка съезжает*/
switch {
    margin: 5px 10px 0px 10px
}

/*переключатели mangohud и т.д. (в дефолтных темах gtk отступы необходимы. В то время как в некоторых темах выглядит больше, чем нужно. Пример qogir)*/

/*Правила для окон*/
window > box > grid {
    padding: 5px
}

/*отступы в расширенных настройках*/
window > box > box > image {
    padding: 0px 0px 5px 0px;
}

/*иконка запуска ярлыка*/
window > box > box > box > image {
    margin-top: 5px
}

/*иконка в создании ярлыка*/
window > box > box > grid {
    padding: 0px 5px 5px 0px
}

/*комбобоксы в запуске ярлыка*/
